name: bench

on: workflow_dispatch

jobs:
  mix:
    runs-on: ubuntu-latest

    env:
      MIX_ENV: bench

    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.14.3"
          otp-version: "25.2.2"

      - uses: actions/cache@v3
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ github.head_ref || github.ref }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-bench-${{ github.head_ref || github.ref }}-
            ${{ runner.os }}-mix-bench-refs/heads/master-

      - run: mix deps.get
      - run: mix format --check-formatted
      - run: mix compile --warnings-as-errors
      - run: mix run bench/all.exs
      - run: mix run bench/build_insert.exs
